* {
    box-sizing: border-box;
}

body {
    background: #efefef;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 60%;
    margin: 50px auto;
}

textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
    resize: none;
}

h1 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
}

p {
    font-size: 19px;
    margin: 0 0 40px 0;
    padding: 0;
    text-align: center;
}

p.note {
    margin: 20px;
}